@import "tailwindcss";

@theme {
  --font-KodeMono-Bold: "KodeMono-Bold";
  --font-KodeMono-Medium: "KodeMono-Medium";
  --font-KodeMono-Regular: "KodeMono-Regular";
  --font-KodeMono-SemiBold: "KodeMono-SemiBold";
  --font-Modak-Regular: "Modak-Regular";
}

@font-face {
  font-family: "KodeMono-Bold";
  src: url("/fonts/KodeMono-Bold.ttf");
}
@font-face {
  font-family: "KodeMono-Medium";
  src: url("/fonts/KodeMono-Medium.ttf");
}
@font-face {
  font-family: "KodeMono-Regular";
  src: url("/fonts/KodeMono-Regular.ttf");
}
@font-face {
  font-family: "KodeMono-SemiBold";
  src: url("/fonts/KodeMono-SemiBold.ttf");
}
@font-face {
  font-family: "Modak-Regular";
  src: url("/fonts/Modak-Regular.ttf");
}
.text-primary {
  color: #323136;
}

.border-topAndBottom {
  border-top: dashed 1px black;
  border-bottom: dashed 1px black;
}
